* {
    margin: 0px;
    padding: 0px;
}

.nav {
    overflow: hidden;
    background-color: #0f8c32;
    

}

.nav a {
    float: left;
    font-family: arial;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: lightgray;

}

.nav .dropdown1:hover a{
    background-color: #fff;
    color: #0f8c32;
}

.dropdown1 {
    float:left;
    overflow: hidden;
    max-width: 150px;
}


.dropdown2 {
    position: absolute;
    z-index: 2;
    display: none;
    padding: 52px 0px;
    clear: both;
}


.dropdown2 .dropdown3 p {

    list-style: none;
    font-family: arial;
    font-size: 18px;
    color: lightgrey;
    text-align: center;
    background-color: lightslategrey;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid black;
    min-width: 90px;
    float: left;
    
}

.dropdown1:hover .dropdown2 {
    display: block;


}



.dropdown2 .dropdown3 .dropdown4 {
    float: right;
    position: absolute;
    margin-left: 152px;
    z-index: 1;
    display: none;
    margin-top: 3px;

}

.dropdown3:hover .dropdown4 {
    display: block;


}

.dropdown3 .dropdown5 {
    
    float: right;
    position: absolute;
    margin-top: 5px;
    margin-left: 152px;
    z-index: 2;
    min-width: 165px;
    display: none;

}

.dropdown4 .dropdown3:hover .dropdown5 {
        display: block;


}

.dropdown3 .link{
    background-color: aqua;
    position: absolute;
    margin-left: 152px;
    margin-top: 0px;
    z-index: 1;
    display: none;
}

.dropdown3 .link a{
    padding: 1px 20px;
    border: outset 1px black;
    min-width: 250px; 
}

.dropdown5 .dropdown3:hover .link {
    display: block;

}